@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

* {
  padding: 0px;
  margin: 0px;
  background-color: #f5f3f6;
  box-sizing: border-box;
  font-family: "Wanted Sans Variable", sans-serif;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.header-link {
  font-size: larger;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  gap: 40px;
}

#header-logo {
  width: 50px;
  margin: 0px 58.4px;
}

#header-logo:hover {
  cursor: pointer;
}

.header-buttonContainer {
  display: flex;
  gap: 10px;
  min-width: 166.8px;
}

.header-button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 500;
}

.header-button:hover {
  cursor: pointer;
}

#logout-btn {
  background-color: #e60000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

#logout-btn:hover {
  cursor: pointer;
}

.footer-container {
  height: 150px;
  background-color: #1e1e1e;
  padding-left: 80px;
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
}

.footer-copyright {
  font-size: larger;
  background-color: #1e1e1e;
  color: white;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 50px;
}

.contact-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#walk-img {
  width: 200px;
  margin-bottom: 100px;
}

.contact-intro-text {
  font-size: 40px;
  font-weight: 550;
}

.person-icon {
  font-size: 150px;
}

.contacts {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  gap: 100px;
}

.contactCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-text {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  gap: 10px;
}

.contact {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

#insta-profile {
  width: 150px;
  border-radius: 50%;
  margin: 12.5px 0px;
}

#profile {
  width: 150px;
  margin: 15px 0px;
}
