@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

* {
  padding: 0px;
  margin: 0px;
  background-color: #f5f3f6;
  box-sizing: border-box;
  font-family: "Wanted Sans Variable", sans-serif;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.header-link {
  font-size: larger;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  gap: 40px;
}

#header-logo {
  width: 50px;
}

#header-logo:hover {
  cursor: pointer;
}

.header-buttonContainer {
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 500;
}

.header-button:hover {
  cursor: pointer;
}

.footer-container {
  height: 150px;
  background-color: #1e1e1e;
  padding-left: 80px;
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
}

.footer-copyright {
  font-size: larger;
  background-color: #1e1e1e;
  color: white;
}

#profile {
  width: 300px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-top: 40px;
  min-height: 100vh;
}

.home-intro-hi {
  font-size: 35px;
  font-weight: 700;
  /* line-height: 1.5; */
}

.home-intro-description {
  font-size: 30px;
  font-weight: 500;
}
