@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

* {
  padding: 0px;
  margin: 0px;
  background-color: #f5f3f6;
  box-sizing: border-box;
  font-family: "Wanted Sans Variable", sans-serif;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.header-link {
  font-size: larger;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  gap: 40px;
}

#header-logo {
  width: 50px;
  margin: 0px 58.4px;
}

#header-logo:hover {
  cursor: pointer;
}

.header-buttonContainer {
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 500;
}

.header-button:hover {
  cursor: pointer;
}

.footer-container {
  height: 150px;
  background-color: #1e1e1e;
  padding-left: 80px;
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
}

.footer-copyright {
  font-size: larger;
  background-color: #1e1e1e;
  color: white;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  min-height: 100vh;
}

.project-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wow_it_works {
  width: 240px;
}

.project-intro-text {
  font-size: 30px;
  font-weight: 550;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 30px; */
  margin: 0px 100px 200px 100px;
  /* width: fit-content; */
  /* padding: 10px; */
  width: 90%;
}

.projectCard-container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  width: 1200px;
}

.projectCard {
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 40px;
  margin: 25px;
  box-shadow: 0 0.8rem 1.4rem -0.5rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
}

.projectCard:hover {
  transform: translateY(-5px);
}

.project-img {
  border-radius: 40px 40px 0px 0px;
}

.project-text-title {
  font-size: larger;
  background-color: white;
  font-weight: 550;
  margin-top: 10px;
  margin-left: 20px;
}

.project-text-des {
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 20px;
  background-color: white;
  font-size: 15px;
}
